[Unit]
Description=Sample currently loaded kernel modules
Documentation=man:kmod-profiler

[Service]
Type=oneshot
ExecStart=@SBINDIR@/kmod-profiler sample
Nice=19
IOSchedulingClass=idle
