[Unit]
Description=kmod-profiler module-tree rescan
Documentation=man:kmod-profiler

[Service]
Type=oneshot
ExecStart=@SBINDIR@/kmod-profiler rescan
Nice=19
IOSchedulingClass=idle
