[Unit]
Description=Sample currently loaded kernel modules
Documentation=man:kmod-profiler

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/kmod-profiler sample
Nice=19
IOSchedulingClass=idle
